<div class="container px-0">
  <div class="row">

    <div class="col-md-3">
      <%= render 'users/user_newbook', user: @user , book: @book%>
    </div>

    <div class="col-md-8 offset-md-1">
      <h2>Book detail</h2>
      <table class="table table-hover">
        <tbody>
          <tr>
            <td>
              <%= link_to user_path(@user.id), class: '' do%>
                <%= image_tag @user.get_profile_image(100,100) %></br>
                <%= @user.name %>
              <% end %>
            </td>
            <td>
              <%= link_to book_path(@target_book.id) do %>
                <%= @target_book.title %>
              <% end %>
            </td>
            <td><%= @target_book.body %></td>
            <% if @target_book.user == current_user %>
              <td>
                <%= link_to edit_book_path(@target_book.id), class: 'btn btn-success col' do %>
                  Edit
                <% end %>
              </td>
            <% end %>

            <% if @target_book.favorited_by?(current_user) %>
              <td>
                <%= link_to book_favorite_path(@target_book), method: :delete, class: "text-danger" do%>
                  <i class="fa-solid fa-heart"></i><%= @target_book.favorites.count %>
                <% end %>
              </td>
            <% else %>
              <td>
                <%= link_to book_favorite_path(@target_book), method: :post do %>
                  <i class="fa-solid fa-heart"></i><%= @target_book.favorites.count %>
                <% end %>
              </td>
            <% end %>

            <% if @target_book.user == current_user %>
              <td>
                <%= link_to book_path(@target_book.id), method: :delete, class: 'btn btn-danger col', "data-confirm" => "本当に消しますか？"  do %>
                  Destroy
                <% end %>
              </td>
            <% end %>
          </tr>
        </tbody>
      </table>
      <div>
        <p>コメント件数：<%= @target_book.book_comments.count %></p>
        <% @target_book.book_comments.each do |book_comment| %>
          <p><%= image_tag book_comment.user.get_profile_image(100,100) %></p>
          <%= book_comment.user.name %>
          <%= book_comment.created_at.strftime('%Y/%m/%d') %><%= book_comment.comment %>
        <% end %>
      </div>
      <div>
        <%= form_with model: [@target_book, @book_comment] do |f| %>
          <%= f.text_area :comment, rows: '5', placeholder: "コメントをここに" %>
          <%= f.submit "送信する" %>
        <% end %>
      </div>
    </div>
  </div>
</div>