<!DOCTYPE html>
<html>
  <head>
    <title>Bookers2</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <script src="https://kit.fontawesome.com/78d47199b8.js" crossorigin="anonymous"></script>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="d-flex text-body flex-column vh-100">
    <header class="shadow-sm">
      <nav class="navbar navbar-expand-lg navbar-light">
        <div class="container">
          <a class="navbar-brand p-3" href="/">Bookers</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
                        aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav ml-auto">
            <% if user_signed_in? %>
            <li class="nav-item">
              <%= link_to user_path(current_user.id), class: 'nav-link text-dark d-flex align-items-center' do %>
                <i class="fa-solid fa-house"></i>
                <p class="mb-0">Home</p>
              <% end %>
            </li>
            <li class="nav-item">
              <%= link_to user_path, class: 'nav-link text-dark d-flex align-items-center' do %>
                <i class="fa-solid fa-users"></i>
                <p class="mb-0">Users</p>
              <% end %>
            </li>
            <li class="nav-item">
              <%= link_to books_path, class: 'nav-link text-dark d-flex align-items-center' do %>
                <i class="fa-solid fa-book-open"></i>
                <p class="mb-0">Books</p>
              <% end %>
            </li>
            <li class="nav-item">
              <%= link_to destroy_user_session_path, method: :delete, class: 'nav-link text-dark d-flex align-items-center' do %>
                <i class="fa-solid fa-right-from-bracket"></i>
                <p class="mb-0">Log out</p>
              <% end %>
            </li>
            <% else %>
            <li class="nav-item">
              <%= link_to root_path, class: 'nav-link text-dark d-flex align-items-center' do %>
                <i class="fa-solid fa-house"></i>
                <p class="mb-0">Home</p>
              <% end %>
            </li>
            <li class="nav-item">
              <%= link_to about_path, class: 'nav-link text-dark d-flex align-items-center' do %>
                <i class="fa-solid fa-link"></i>
                <p class="mb-0">About</p>
              <% end %>
            </li>
            <li class="nav-item">
              <%= link_to new_user_registration_path, class: 'nav-link text-dark d-flex align-items-center' do %>
                <i class="fa-solid fa-user-plus"></i>
                <p class="mb-0">About</p>
              <% end %>
            </li>
            <li class="nav-item">
              <%= link_to  new_user_session_path, class: 'nav-link text-dark d-flex align-items-center' do %>
                <i class="fa-solid fa-right-to-bracket"></i>
                <p class="mb-0">Log in</p>
              <% end %>
            </li>
            <% end %>
            </ul>
          </div>
        </div>
      </nav>
    </header>
    <main class="mb-auto">
      <% if user_signed_in? %>
        <div class="container px-0">
          <div class="row">
            <div class="col-md-3">
              <p>あいうえお</p>
            </div>
            <div class="col-md-8 offset-md-1">
              <%= yield %>
            </div>
          </div>
        </div>
      <% else %>
        <div class="container px-0">
          <%= yield %>
        </div>
      <% end %>

    </main>
    <footer class="mt-5">
      <div class="container">
        <div class="row no-gutters justify-content-center">
          <p>CopyRight Infratop.inc</p>
        </div>
      </div>
    </footer>
  </body>
</html>
